<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>LAS VEGANS | Restaurantes</title>
<link href="{% static 'polls/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'polls/js/jquery.min.js'%}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'polls/style.css'%}" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cookery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---->
<link href="{% static '//fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' %}" rel='stylesheet'  type='text/css'>
<link href="{% static '//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700'%}" rel='stylesheet' type='text/css'>
<link href="{% static 'polls/styles.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- animation-effect -->
<link href="{% static 'polls/animate.min.css'%}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'polls/js/wow.min.js'%}"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->

</head>
<body>
<div class="header head">
	<div class="container">
		<div class="logo animated wow pulse" data-wow-duration="1000ms" data-wow-delay="500ms">
			<h1><a href="/polls/"><span>LAS</span><img src="images/oo.png" alt="">VEGANS</a></h1>
		</div>
		<div class="nav-icon">		
			<a href="#" class="navicon"></a>
				<div class="toggle">
					<ul class="toggle-menu">
						<li><a  href="/polls/">Home</a></li>
						<li><a  href="/polls/menu">Cardápio</a></li>
						<li><a class="active"  href="/polls/blog">Restaurantes</a></li>
						<li><a  href="/polls/contact">Contato</a></li>
						<li><a  href="/polls/events">Ajuda</a></li>
					</ul>
				</div>
			<script>
			$('.navicon').on('click', function (e) {
			  e.preventDefault();
			  $(this).toggleClass('navicon--active');
			  $('.toggle').toggleClass('toggle--active');
			});
			</script>
		</div>
	<div class="clearfix"></div>
	</div>
	<!-- start search-->	
		
</div>
<!--content-->
<div class="blog">
	<div class="container">
		<div class="menu-top">
				<div class="col-md-4 menu-left">
					<h3>Restaurantes</h3>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<span>Da plataforma</span>
				</div>
				<div class="col-md-8 menu-right">
					
				</div>
				<div class="clearfix"> </div>
			</div>
		<div class="col-md-9 blog-header">
		<div class=" blog-head">
			<div class="col-md-4 blog-top">
				<div class="blog-in">
					<a href="/polls/single"><img class="img-responsive" src="/static/polls/images/bl.jpg" alt=" "></a>
					<div class="blog-grid">
						<h3><a href="single.html">Restaurante 1</a></h3>
						<div class="date">
							<span class="date-in"><i class="glyphicon glyphicon-calendar"> </i>22.08.2014</span>
							<a href="/polls/single" class="comments"><i class="glyphicon glyphicon-comment"></i>24</a>
							<div class="clearfix"> </div>
						</div>
						<p>Este é um restaurante especializado em comida vegetariana e vegana, disposto a servir o cliente da melhor forma possivel.</p>
						<div class="more">						
							<a class="link link-yaku" href="polls/single">
								<span>L</span><span>e</span><span>i</span><span>a</span> <span>M</span><span>a</span><span>i</span><span>s</span>					
							</a>
						</div>
					</div>					
				</div>
			</div>
			<div class="col-md-4 blog-top">
				<div class="blog-in">
					<a href="/polls/single"><img class="img-responsive" src="/static/polls/images/salada2.jpg" alt=" "></a>
					<div class="blog-grid">
						<h3><a href="/polls/single">Restaurante 2</a></h3>
						<div class="date">
							<span class="date-in"><i class="glyphicon glyphicon-calendar"> </i>22.08.2014</span>
							<a href="/polls/single" class="comments"><i class="glyphicon glyphicon-comment"></i>24</a>
							<div class="clearfix"> </div>
						</div>
						<p>Este é um restaurante especializado em comida vegetariana e vegana, disposto a servir o cliente da melhor forma possivel.</p>
						<div class="more">						
							<a class="link link-yaku" href="/polls/single">
								<span>L</span><span>e</span><span>i</span><span>a</span> <span>M</span><span>a</span><span>i</span><span>s</span>					
							</a>
						</div>
					</div>					
				</div>
			</div>
			<div class="col-md-4 blog-top">
				<div class="blog-in">
					<a href="/polls/single"><img class="img-responsive" src="/static/polls/images/bl2.jpg" alt=" "></a>
					<div class="blog-grid">
						<h3><a href="/polls/single">Restaurante 3</a></h3>
						<div class="date">
							<span class="date-in"><i class="glyphicon glyphicon-calendar"> </i>22.08.2014</span>
							<a href="/polls/single" class="comments"><i class="glyphicon glyphicon-comment"></i>24</a>
							<div class="clearfix"> </div>
						</div>
						<p>Este é um restaurante especializado em comida vegetariana e vegana, disposto a servir o cliente da melhor forma possivel.</p>
						<div class="more">						
							<a class="link link-yaku" href="/polls/single">
								<span>L</span><span>e</span><span>i</span><span>a</span> <span>M</span><span>a</span><span>i</span><span>s</span>					
							</a>
						</div>
					</div>					
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class=" blog-head">
			<div class="col-md-4 blog-top">
				<div class="blog-in">
					<a href="/polls/single"><img class="img-responsive" src="/static/polls/images/bl3.jpg" alt=" "></a>
					<div class="blog-grid">
						<h3><a href="single.html">Restaurante 4</a></h3>
						<div class="date">
							<span class="date-in"><i class="glyphicon glyphicon-calendar"> </i>22.08.2014</span>
							<a href="/polls/single" class="comments"><i class="glyphicon glyphicon-comment"></i>24</a>
							<div class="clearfix"> </div>
						</div>
						<p>Este é um restaurante especializado em comida vegetariana e vegana, disposto a servir o cliente da melhor forma possivel.</p>
						<div class="more">						
							<a class="link link-yaku" href="/polls/single">
								<span>L</span><span>e</span><span>i</span><span>a</span> <span>M</span><span>a</span><span>i</span><span>s</span>					
							</a>
						</div>
					</div>					
				</div>
			</div>
			<div class="col-md-4 blog-top">
				<div class="blog-in">
					<a href="/polls/single"><img class="img-responsive" src="/static/polls/images/salada.jpg" alt=" "></a>
					<div class="blog-grid">
						<h3><a href="/polls/single">Restaurante 5</a></h3>
						<div class="date">
							<span class="date-in"><i class="glyphicon glyphicon-calendar"> </i>22.08.2014</span>
							<a href="/polls/single" class="comments"><i class="glyphicon glyphicon-comment"></i>24</a>
							<div class="clearfix"> </div>
						</div>
						<p>Este é um restaurante especializado em comida vegetariana e vegana, disposto a servir o cliente da melhor forma possivel.</p>
						<div class="more">						
							<a class="link link-yaku" href="/polls/single">
								<span>L</span><span>e</span><span>i</span><span>a</span> <span>M</span><span>a</span><span>i</span><span>s</span>					
							</a>
						</div>
					</div>					
				</div>
			</div>
			<div class="col-md-4 blog-top">
				<div class="blog-in">
					<a href="/polls/single"><img class="img-responsive" src="/static/polls/images/bl5.jpg" alt=" "></a>
					<div class="blog-grid">
						<h3><a href="/polls/single">Restaurante 6</a></h3>
						<div class="date">
							<span class="date-in"><i class="glyphicon glyphicon-calendar"> </i>22.08.2014</span>
							<a href="/polls/single" class="comments"><i class="glyphicon glyphicon-comment"></i>24</a>
							<div class="clearfix"> </div>
						</div>
						<p>Este é um restaurante especializado em comida vegetariana e vegana, disposto a servir o cliente da melhor forma possivel.</p>
						<div class="more">						
							<a class="link link-yaku" href="/polls/single">
								<span>L</span><span>e</span><span>i</span><span>a</span> <span>M</span><span>a</span><span>i</span><span>s</span>					
							</a>
						</div>
					</div>					
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		
		</div>
		<div class="col-md-3 categories-grid">
			<div class="search-in animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
				<h4>Pesquisa</h4>
					<div class="search">
					<form>
						<input type="text" placeholder="Pesquisar..." required="" >
						<input type="submit" value="" >
					</form>
					</div>
			</div>
				<div class="grid-categories animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h4>Categorias</h4>
					<ul class="popular">
						<li><a href="#"><i class="glyphicon glyphicon-menu-right"> </i>Café da manhã</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-menu-right"> </i>Almoço</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-menu-right"> </i>Jantar</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-menu-right"> </i>Sobremesa</a></li>
						
					</ul>
				</div>
				<div class="blog-bottom animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
						<h4>Postagens Recentes</h4>
							<div class="product-go">
								<a href="/polls/single" class="fashion"><img class="img-responsive " src="/static/polls/images/bo.jpg" alt=""></a>
								<div class="grid-product">
									<a href="/polls/single" class="elit"></a>
									<p></p>
								</div>
							<div class="clearfix"> </div>
							</div>
							<div class="product-go">
								<a href="/polls/single" class="fashion"><img class="img-responsive " src="/static/polls/images/bo1.jpg" alt=""></a>
								<div class="grid-product">
									<a href="/polls/single" class="elit"></a>
									<p></p>
								</div>
							<div class="clearfix"> </div>
							</div>
							<div class="product-go">
								<a href="polls/single" class="fashion"><img class="img-responsive " src="static/polls/images/bo2.jpg" alt=""></a>
								<div class="grid-product">
									<a href="/polls/single" class="elit"></a>
									<p></p>
								</div>
							<div class="clearfix"> </div>
							</div>
						</div>

			</div>
<div class="clearfix"> </div>
	</div>
</div>
<!--//content-->
<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-head">
				<div class="col-md-8 footer-top animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<ul class=" in">
						<li><a href="/polls/">Home</a></li>
						<li><a  href="/polls/menu">Cardápio</a></li>
						<li><a  href="/polls/blog">Restaurantes</a></li>
						<li><a  href="/polls/contact">Contato</a></li>
						<li><a  href="/polls/events">Ajuda</a></li>
					</ul>					
						<span>LAS<img src="/static/polls/images/oo.png" alt="">VEGANS</span>

				</div>
				<div class="col-md-4 footer-bottom  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h2>Desenvolvedores</h2>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<p>Emanuel Ibiapino<br>Igor de Carvalho<br>Lucas da Costa<br>Orrana Lhaynher</p>
					<h2>SIGA-NOS</h2>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<p>Nos acompanhe nas redes sociais!</p>
					<ul class="social-ic">
						<li><a href="#"><i></i></a></li>
						<li><a href="#"><i class="ic"></i></a></li>
						<li><a href="#"><i class="ic1"></i></a></li>
						<li><a href="#"><i class="ic2"></i></a></li>
						<li><a href="#"><i class="ic3"></i></a></li>
					</ul>

				</div>
			<div class="clearfix"> </div>
					
			</div>
			<p class="footer-class animated wow bounce" data-wow-duration="1000ms" data-wow-delay="500ms">&copy; Trabalho final de programação para web II </p>
		</div>
	</div>		
	<!--//footer-->

</body>
</html>

