<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>LAS VEGANS | Cardápio</title>
<link href="{% static 'polls/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'polls/js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'polls/style.css'%}" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cookery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---->
<link href='//fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
<link href="{% static 'polls/styles.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- animation-effect -->
<link href="{% static 'polls/animate.min.css'%}" rel="stylesheet">  
<script src="{% static 'polls/js/wow.min.js' %}"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->

</head>
<body>
<div class="header head">
	<div class="container">
		<div class="logo animated wow pulse" data-wow-duration="1000ms" data-wow-delay="500ms">
			<h1><a href="/polls/menu"><span>LAS</span><img src="images/oo.png" alt="">VEGANS</a></h1>
		</div>
		<div class="nav-icon">		
			<a href="#" class="navicon"></a>
				<div class="toggle">
					<ul class="toggle-menu">
						<li><a  href="/polls/">Home</a></li>
						<li><a class="/polls/active" href="/polls/menu">Cardápio</a></li>
						<li><a  href="/polls/blog">Restaurantes</a></li>
						<li><a  href="/polls/contact">Contato</a></li>
						<li><a  href="/polls/events">Ajuda</a></li>
					</ul>
				</div>
			<script>
			$('.navicon').on('click', function (e) {
			  e.preventDefault();
			  $(this).toggleClass('navicon--active');
			  $('.toggle').toggleClass('toggle--active');
			});
			</script>
		</div>
	<div class="clearfix"></div>
	</div>
	<!-- start search-->	
		
</div>
<!--content-->
	<div class="menu">
		<div class="container">
			<div class="menu-top">
				<div class="col-md-4 menu-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h3>Cardápio</h3>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<span>LAS VEGANS</span>
				</div>
				<div class="col-md-8 menu-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<p>A cozinha vegetariana é realmente completa e, ao contrário do que muita gente pensa, ela tem receitas que vão desde lasanha até feijoada, sem carne é claro! Portanto, se você é vegetariano ou tem algum vegetariano em casa, pare de consumir só saladas e legumes. Confira o nosso cardápio e descubra pratos vegetarianos incríveis!</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="menu-bottom animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
				<div class="col-md-4 menu-bottom1">
					<div class="btm-right">
						<a href="/polls/events">
							<img src="/static/polls/images/mee.jpg" alt="" class="img-responsive">
							<div class="captn">
								<h4>Vegetais</h4>
								<p>$4.00</p>				
							</div>
						</a>						
					</div>
				</div>
				<div class="col-md-4 menu-bottom1">
					<div class="btm-right">
						<a href="/polls/events">
							<img src="/static/polls/images/me1.jpg" alt="" class="img-responsive">
							<div class="captn">
								<h4>Vegetais</h4>
								<p>$10.00</p>				
							</div>
						</a>						
					</div>
				</div>
				<div class="col-md-4 menu-bottom1">
					<div class="btm-right">
						<a href="/polls/events">
							<img src="/static/polls/images/meee.jpg" alt="" class="img-responsive">
							<div class="captn">
								<h4>Quibe</h4>
								<p>$15.00</p>				
							</div>
						</a>	
					</div>
				</div>
				<div class="clearfix"> </div>				
			</div>
			<div class="menu-bottom animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
				<div class="col-md-4 menu-bottom1">
					<div class="btm-right">
						<a href="/polls/events">
							<img src="/static/polls/images/me3.jpg" alt="" class="img-responsive">
							<div class="captn">
								<h4>Tomate</h4>
								<p>$17.00</p>				
							</div>
						</a>	
					</div>
				</div>
				<div class="col-md-4 menu-bottom1">
					<div class="btm-right">
						<a href="/polls/events">
							<img src="/static/polls/images/me4.jpg" alt="" class="img-responsive">
							<div class="captn">
								<h4>Vegetais Frito</h4>
								<p>$20.00</p>				
							</div>
						</a>	
					</div>
				</div>
				<div class="col-md-4 menu-bottom1">
					<div class="btm-right">
						<a href="/polls/events">
							<img src="/static/polls/images/me5.jpg" alt="" class="img-responsive">
							<div class="captn">
								<h4>Petisco</h4>
								<p>$22.00</p>				
							</div>
						</a>		
					</div>
				</div>
				<div class="clearfix"> </div>				
			</div>
			<div class="menu-bottom animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
				<div class="col-md-4 menu-bottom1">
					<div class="btm-right">
						<a href="/polls/events">
							<img src="/static/polls/images/me6.jpg" alt="" class="img-responsive">
							<div class="captn">
								<h4>Misto</h4>
								<p>$14.00</p>				
							</div>
						</a>		
					</div>
				</div>
				<div class="col-md-4 menu-bottom1">
					<div class="btm-right">
						<a href="/polls/events">
							<img src="/static/polls/images/me7.jpg" alt="" class="img-responsive">
							<div class="captn">
								<h4>Bolo</h4>
								<p>$12.00</p>				
							</div>
						</a>		
					</div>
				</div>
				<div class="col-md-4 menu-bottom1">
					<div class="btm-right">
						<a href="/polls/events">
							<img src="/static/polls/images/me8.jpg" alt="" class="img-responsive">
							<div class="captn">
								<h4>Paozinho</h4>
								<p>$9.00</p>				
							</div>
						</a>	
					</div>
				</div>
				<div class="clearfix"> </div>				
			</div>
		</div>
	</div>
<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-head">
				<div class="col-md-8 footer-top animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<ul class=" in">
						<li><a href="/polls/">Home</a></li>
						<li><a  href="/polls/menu">Menu</a></li>
						<li><a  href="/polls/blog">Restaurantes</a></li>	
						<li><a  href="/polls/contact">Contato</a></li>
						<li><a  href="/polls/events">Ajuda</a></li>
					</ul>					
						<span>LAS<img src="{% static 'polls/images/oo.png' %}" alt="">VEGANS</span>
				</div>
				<div class="col-md-4 footer-bottom  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h2>Desenvolvedores</h2>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<p>Emanuel Ibiapino<br>Igor de Carvalho<br>Lucas da Costa<br>Orrana Lhaynher</p>
					<h2>SIGA-NOS</h2>
					<p>Nos acompanhe nas redes sociais!</p>
					<ul class="social-ic">
						<li><a href="#"><i></i></a></li>
						<li><a href="#"><i class="ic"></i></a></li>
						<li><a href="#"><i class="ic1"></i></a></li>
						<li><a href="#"><i class="ic2"></i></a></li>
						<li><a href="#"><i class="ic3"></i></a></li>
					</ul>

				</div>
			<div class="clearfix"> </div>
					
			</div>
			<p class="footer-class animated wow bounce" data-wow-duration="1000ms" data-wow-delay="500ms">&copy; Trabalho final de programação para web II </p>
		</div>
	</div>		
	<!--//footer-->

</body>
</html>
